.pointer {
  cursor: pointer;
}
.pointer:hover {
  text-decoration: underline;
}

.Contact-us-modal-title h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: #000000;
}
.contact-us-message-col label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 20px 0 10px 0;
}
.contact-us-message-col .create-agency-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #b4b4b4 !important;
  background-color: #ffffff !important;
}
.contact-us-form-btn {
  margin: 10px 0 0 0;
  height: auto !important;
  width: fit-content !important;
  padding: 15px 25px;
  background-color: #ffc900 !important;
}
.contact-us-modal {
  width: 420px !important;
}
.contact-us-modal .modal-body {
  padding: 25px !important;
}
.contact-us-modal .fl-login-form-box {
  width: 100%;
  margin: 0;
}
.contact-us-modal .modal-content {
  border-radius: 30px !important;
}
.contact-us-modal .modal-footer {
  background-color: #ffc900;
  padding: 25px !important;
  color: white;
  border-radius: 0px 0px 25px 25px;
}
.contact-footer-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
}
.white-border-right {
  border-right: 1px solid white;
}
.contact-us-email-links {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
.contact-us-email-links:hover {
  color: #ffffff;
  text-decoration: underline;
}
.contact-form-style .create-agency-txt-cont {
  background-color: white !important;
}
@media (max-width: 992px) {
  .contact-us-form-btn {
    margin: 0 !important;
    float: right !important;
  }
}

@media (max-width: 576px) {
  .contact-us-modal {
    width: unset !important;
  }
  .Submit-button.contact-us-form-btn.active {
    font-size: 18px;
  }
}
