.WithVsWithoutTF-Container {
  padding: 54px 0 80px 0;
}
.WithVsWithoutTF-indicatorText {
  color: #181818;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #181818;
  margin-bottom: 26px;
  width: fit-content;
}
.WithVsWithoutTF-title {
  color: #181818;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
.WithVsWithoutTF-paragraph {
  color: #181818;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.WithVsWithoutTF-row {
  margin-bottom: 54px;
  align-items: center;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.WithVsWithoutTF-row.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.WithVsWithoutTF-IMG {
  width: fit-content;
  height: auto;
}
.WithVsWithoutTF-row .Filled100Button {
  margin-top: 70px;
}
@media (max-width: 992px) {
  .WithVsWithoutTF-title {
    font-size: 44px;
    margin-bottom: 16px;
  }
  .WithVsWithoutTF-indicatorText {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .WithVsWithoutTF-paragraph {
    color: #181818;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
  }
  .WithVsWithoutTF-row .Filled100Button {
    margin-top: 8px;
    height: 50px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .WithVsWithoutTF-paragraph {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
@media (max-width: 565px) {
  .WithVsWithoutTF-title {
    font-size: 34px;
    margin-bottom: 8px;
  }
  .WithVsWithoutTF-indicatorText {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .WithVsWithoutTF-paragraph {
    font-size: 16px;
  }
}
