.clientCircularImage66 {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ffc900;
  background-color: #ffc900;
}
@media (max-width: 575px) {
  .centerImageOnMobile {
    margin: 0 auto;
    display: flex;
  }
}
