@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

body {
  font-family: "Raleway", sans-serif !important;
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #49505b !important;
}
*::-webkit-scrollbar {
  height: 4px;
  border-radius: 10px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white !important;
  cursor: e-resize;
  width: 3px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 3px;
  background: #f9c8026f;
  cursor: e-resize;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #f9c802;
  width: 3px;
}
.container-fluid.clientSection {
  margin: 0 70px !important;
  width: calc(100% - 140px) !important;
}
.instruction-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.green.instruction-text {
  color: #469763;
}
.orange.instruction-text {
  color: #f66b0e;
}
.black.instruction-text {
  color: #181818;
}

.transparent-bg {
  background-color: transparent !important;
}
.btnSM {
  height: 25px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  background: #b4b4b4;
  border-radius: 80px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border: none;
  padding: 0 10px;
  width: fit-content;
  word-break: break-word;
  text-transform: capitalize;
  cursor: pointer;
}
.btnLG {
  cursor: pointer;
  height: 30px !important;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05)) !important;
  background: #b4b4b4;
  border-radius: 80px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #ffffff !important;
  border: none !important;
  padding: 0 10px !important;
  width: fit-content;
  word-break: break-word !important;
  text-transform: capitalize !important;
}
.btnSM:disabled,
.btnLG:disabled {
  cursor: not-allowed;
  background-color: #6d6d6d;
}

.activeRed {
  background-color: #d6492c;
}
.activeOrange {
  background-color: #e57128;
}
.activeYellow {
  background-color: #f9c802;
}
.activeGreen {
  background-color: #469763;
}
.activeBlue {
  background-color: #1fa3ff;
}

/* buttons with borders */
.btnSMBorder {
  cursor: pointer;
  height: 25px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  border: 2px solid black;
  color: black;
  border-radius: 80px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  padding: 0 10px;
  width: fit-content;
  word-break: break-word;
  text-transform: capitalize;
}
.btnLGBorder {
  cursor: pointer;
  height: 30px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  border: 2px solid #b4b4b4;
  color: #b4b4b4;
  border-radius: 80px;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  background-color: transparent;
  padding: 0 10px;
  width: fit-content;
  word-break: break-word;
  text-transform: capitalize;
}
.btnSMBorder:disabled,
.btnLGBorder:disabled {
  cursor: not-allowed;
  border: 2px solid #6d6d6d !important;
  color: #6d6d6d !important;
}

.btnSMBorder.activeRed,
.btnLGBorder.activeRed {
  border: 2px solid #d6492c;
  color: #d6492c;
}
.btnSMBorder.activeOrange,
.btnLGBorder.activeOrange {
  border: 2px solid #e57128;
  color: #e57128;
}
.btnSMBorder.activeYellow,
.btnLGBorder.activeYellow {
  border: 2px solid #f9c802;
  color: #f9c802;
}
.btnSMBorder.activeGreen,
.btnLGBorder.activeGreen {
  border: 2px solid #469763;
  color: #469763;
}
.btnSMBorder.activeBlue,
.btnLGBorder.activeBlue {
  border: 2px solid #1fa3ff;
  color: #1fa3ff;
}
.agency-status-box {
  background-color: #fff7df;
  color: black !important;
  margin-top: 15px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  position: relative;
  z-index: 2;
  min-width: 200px;
  width: fit-content;
}
.agency-status-box.full-width {
  min-width: unset;
  width: 100%;
}
.agency-status-box-data h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.agency-status-box-data p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 0;
}
.agency-status-box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 3px;
}
.welcome-title-dash {
  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
}
.welcome-title-dash.orange {
  color: #e57128;
}
.welcome-title-dash.blue {
  color: #1fa3ff;
}
.subtitle-green {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #469763;
  margin-bottom: 0;
}
.agency-section-header h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0;
}
.agency-section-header.disabled h4 {
  color: #94979e;
}
.agency-section-header a {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-decoration-line: underline;
  color: black;
}
.agency-section-header a:hover {
  color: black;
}
.agency-section-header.disabled a {
  color: #94979e;
}
.agency-section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 60px;
}
.agency-dashboard-small-box {
  background: #fff7df;
  border-radius: 25px;
  min-height: 170px;
  position: relative;
  padding: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  margin-top: 15px;
  z-index: 2;
}
.agency-dashboard-lg-box {
  background: #fff7df;
  border-radius: 25px;
  min-height: 240px;
  position: relative;
  padding: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  margin-top: 25px;
  z-index: 2;
}
.agency-resource-box {
  background: #fff7df;
  border-radius: 25px;
  min-height: 155px;
  position: relative;
  padding: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  margin-top: 25px;
  z-index: 2;
}
.agency-resource-box.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* use this when you want a link to behave the way you want */
.no-deco {
  text-decoration: none !important;
}
.agency-dashboard-small-box-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.agency-dashboard-small-box-header h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 80%;
}
.agency-dashboard-small-box-header img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.ProjectTypeH4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  display: flex;
  align-items: center;
}
.yellow-circle-bg {
  background-color: #f9c802;
  border-radius: 50px;
  object-fit: contain;
}
.ResourceImage_YellowBorder {
  background-color: #f9c802;
  border-radius: 50px;
  object-fit: contain;
  width: 50px;
  height: 50px;
  padding: 3px;
  margin: 5px 5px 5px 0;
}
.ProjectTypeImage {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.projects-card-categories {
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.projects-card-categories .cat-container-setup {
  background-color: transparent !important;
  margin: 0 10px 5px 0 !important;
  font-weight: 400;
  font-size: 12px;
  color: black;
  padding: 5px;
  height: unset !important;
  display: inline-block !important;
  border-radius: 40px;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: 1px solid black;
}
.categories-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Status-Badge {
  width: fit-content;
  height: 30px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #ffffff;
  background: #a1a1a1;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.Status-floating-Badge {
  width: fit-content;
  height: 30px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #ffffff;
  background: #a1a1a1;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: -20px;
}
.Status-Badge.red,
.Status-floating-Badge.red {
  background-color: #d6492c;
  color: white !important;
  font-weight: 700 !important;
}
.Status-Badge.orange,
.Status-floating-Badge.orange {
  background-color: #e57128;
}
.Status-Badge.yellow,
.Status-floating-Badge.yellow {
  background-color: #f9c802;
}
.Status-Badge.green,
.Status-floating-Badge.green {
  background-color: #469763;
}
.Status-Badge.blue,
.Status-floating-Badge.blue {
  background-color: #1fa3ff;
}
.resourceStatusText {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.resourceStatusText.Blue {
  color: #1fa3ff;
}
.resourceStatusText.Green {
  color: #469763;
}
.resourceStatusText.Yellow {
  color: #f9c802;
}
.resourceStatusText.Orange {
  color: #e57128;
}
.resourceStatusText.Red {
  color: #d6492c;
}
.agency-box-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}
.agency-box-bold-value {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.box-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.api-error-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.api-error-box p {
  color: #d6492c;
  font-weight: 700;
  font-size: 19px;
}
.small-spinner {
  width: 15px !important;
  height: 15px !important;
}
.resourcesfixedHeightSideMenu {
  max-height: 60vh;
  overflow: auto;
}
.resourcesfixedHeightSideMenu::-webkit-scrollbar {
  height: 4px;
  border-radius: 10px;
  width: 5px;
}

/* Track */
.resourcesfixedHeightSideMenu::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: e-resize;
}

/* Handle */
.resourcesfixedHeightSideMenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffecb0;
  cursor: e-resize;
}

/* Handle on hover */
.resourcesfixedHeightSideMenu::-webkit-scrollbar-thumb:hover {
  background: #e57128;
}
.CookieConsent {
  background: rgba(53, 53, 53, 0.5);
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  align-items: center !important;
}
.CookieConsent img {
  width: 25px;
  height: 25px;
}
.CookieConsent p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.CookieConsent a {
  color: #f9c802;
}
.CookieConsent a:hover {
  color: #e57128;
}
.CookieConsent button {
  height: 40px !important;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05)) !important;

  border-radius: 80px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #ffffff !important;
  border: none !important;
  padding: 0 10px !important;
  width: fit-content !important;
  word-break: break-word !important;
  text-transform: capitalize !important;
  background-color: #469763 !important;
}
.p-relative {
  position: relative;
}
.error-pargraph {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #d6492c;
  text-transform: uppercase;
  margin-bottom: 0;
}
.sigCanvas {
  margin-top: 15px;
  border: 1px solid black;
  /* width: 100% !important; */
  border-radius: 20px;
  /* height: 200px !important; */
}

.TransparentInputs input {
  border: 1px solid black;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 0 20px;
}
.show_on_safari {
  display: none;
}
/* client dashboard role boxes */
.RoleColoredBox {
  background: #ffffff;
  border: 2px solid black;
  border-radius: 20px;
  min-height: 220px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
  height: 90%;
}
.RoleColoredBox button {
  font-size: 14px !important;
  line-height: 16px !important;
  height: 30px !important;
}
.insideFlexContainer {
  text-align: center;
}
.status-faded-label {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  color: #49505b;
  background-color: rgba(0, 0, 0, 0.05);
  width: -moz-fit-content;
  width: 100%;
  min-height: 30px;
  margin: auto;
  text-transform: capitalize;
  padding: 0;
}
.status-faded-label.green {
  color: #469763;
  background: rgba(70, 151, 99, 0.15);
}
.status-faded-label.yellow {
  color: #f9c802;
  background: rgba(249, 200, 2, 0.15);
}
.status-faded-label.red {
  color: #d6492c;
  background: rgba(214, 73, 44, 0.15);
}
.status-faded-label.orange {
  color: #e57128;
  background: rgba(229, 113, 40, 0.2);
}
.roleType {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #49505b;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: capitalize;
}
.roleName {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #49505b;
  margin-bottom: 5px;
  text-transform: capitalize;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueCounterText {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #1fa3ff;
  margin-bottom: 5px;
}
.roleDetailsColoredBubblesBox {
  margin-bottom: 5px;
}

.PricingGreenExplaination {
  font-weight: 500;
  font-size: 23px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #49505b;
  margin-bottom: 5px;
}
.greenPrice {
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #469763;
  margin-bottom: 5px;
}
.greenPrice span {
  font-size: 14px;
  line-height: 16px;
}
.roleType4pricing {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #49505b;
  margin: 10px 0;
  text-transform: capitalize;
}
.blueMiniDesc p {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #1fa3ff;
  margin-bottom: 10px;
}
.productModalTextGrey {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #49505b;
}
.greyProductModal {
  height: 235px !important;
}
.checkoutModalTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.checkoutGreySubTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #49505b;
  margin-bottom: 40px;
}
.checkouSemiTableGreyHeader {
  border-bottom: 1px solid #49505b;
}
.checkouSemiTableGreyHeader h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #49505b;
}
.checkouSemiTableblackContent {
  margin: 20px 0 50px 0;
}
.SemiTableCell h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 15px;
}
.SemiTableCell .greenPrice {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #469763;
}
.SemiTableCell p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.checkoutBlueBtn {
  width: 200px !important;
  float: right;
  border-radius: 10px !important;
}
.greenDropDown .dropdown-menu {
  border: 1px solid #469763 !important;
  color: #469763 !important;
}
.greenDropDown .dropdown-menu a {
  color: #469763 !important;
}
.greenDropDown .dropdown-menu a:hover {
  color: #fff !important;
  background-color: #469763 !important;
}
.responseTextBlack {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 30px;
}
.responseTextBlack strong {
  font-weight: 700;
}
.ag-user-signup-label-redTiny {
  font-size: 10px;
  color: #d6492c;
  font-weight: 900;
  margin-left: 5px;
}
.ag-user-signup-label-Tiny {
  font-size: 9px;
  color: #000;
  font-weight: 500;
  margin-left: 5px;
}
.m-lg-0 {
  margin-bottom: 0;
}
.ag-user-signup-field.w-70 {
  width: 70% !important;
}
.flexONLarge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-back {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 80px;
  height: 30px;
  margin-right: 20px;
  background-color: transparent;
  min-width: 77px;
}
.yellowBorderButtonModal {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #f9c802;
  border: 2px solid #ffc900;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  min-width: 219px;
  height: 50px;
  background-color: white;
}
.yellowButtonModal {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #ffc900;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  min-width: 219px;
  height: 50px;
  background-color: #ffc900;
}
.ag-user-signup-tf-logo {
  padding: 30px 80px 0 80px;
}

.ag-user-signup-first-form-box {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.ag-user-signup-first-form-box h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}

.ag-user-signup-first-form-box h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.ag-user-signup-first-form-box a {
  text-decoration: none;
}

.ag-user-signup-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 5px;
}

.ag-user-signup-field {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 100% !important;
  height: 40px;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 21px;
  text-indent: 20px;
  color: #000;
  margin-bottom: 20px;
  padding: 5px 0;
  position: relative;
  background-color: white;
}
.clinetBGSign select.ag-user-signup-field {
  color: #b4b4b4;
}
select.ag-user-signup-field.selected {
  color: #000;
}
textarea.ag-user-signup-field {
  text-indent: 0;
  padding: 10px;
}
.ag-user-signup-multiSelect .css-1s2u09g-control,
.ag-user-signup-multiSelect .css-1pahdxg-control {
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
  width: 100% !important;
  min-height: 40px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #000 !important;
  margin-bottom: 20px;
  box-shadow: none !important;
}
.ag-user-signup-multiSelect .css-1rhbuit-multiValue {
  background-color: transparent;
  border: none;
  height: 100%;
  position: relative;
  margin: 0 !important;
}
.ag-user-signup-multiSelect .css-xb97g8:hover {
  background-color: transparent;
  /* color: #DE350B; */
}

.ag-user-signup-field-input input {
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
  width: 100% !important;
  height: 40px !important;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #000;
  padding: 5px 0;
}
.clinetBGSign .ag-user-signup-field::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-indent: 20px;
  color: #b4b4b4;
}

.ag-user-signup-terms {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-indent: 5px;
  color: #000000;
}
/* progress track */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.3.0
* Docs at https://davidtheclark.github.io/scut
*/
.ProgressBar {
  margin: 0 auto;
  padding: 1em 0 2em;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.ProgressBar-step {
  text-align: center;
  position: relative;
  width: 100%;
}

.ProgressBar-step:before,
.ProgressBar-step:after {
  content: "";
  height: 0.5em;
  background-color: #9f9fa3;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: -50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.ProgressBar-step:first-child:before,
.ProgressBar-step:first-child:after {
  display: none;
}

.ProgressBar-step:after {
  background-color: #469763;
  width: 0%;
}

.ProgressBar-step span {
  position: absolute;
  top: 35px;
  left: 35%;
  width: 125px;
  font-weight: 700;
  font-size: 17px;
  color: #000000;
  text-align: left;
}

.ProgressBar-step.is-complete + .ProgressBar-step.is-current:after,
.ProgressBar-step.is-complete + .ProgressBar-step.is-complete:after {
  width: 100%;
}

.ProgressBar-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #9f9fa3;
  fill: #9f9fa3;
  border-radius: 50%;
  padding: 0.5em;
  max-width: 100%;
  z-index: 10;
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.is-current .ProgressBar-icon {
  fill: #469763;
  background-color: #469763;
}

.is-complete .ProgressBar-icon {
  fill: #dbf1ff;
  background-color: #469763;
}

.ProgressBar-stepLabel {
  display: block;
  text-transform: uppercase;
  color: #9f9fa3;
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.is-current > .ProgressBar-stepLabel,
.is-complete > .ProgressBar-stepLabel {
  color: #469763;
}

.wrapper {
  max-width: 1000px;
  margin: 4em auto;
  font-size: 16px;
}

/* progress track */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 15px;
}
.subTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}
.subTitle.notbold {
  font-weight: 500;
}

.subTitle.Sm {
  font-size: 26px;
}
.subTitle.Xs {
  font-size: 16px;
}

.subTitle.Lg {
  font-size: 28px;
}
.subTitle.fs20 {
  font-size: 20px;
}
.margin5 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.btnLGBorderSignUP {
  cursor: pointer;
  height: 50px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  border: 2px solid #b4b4b4;
  color: #b4b4b4;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  background-color: transparent;
  padding: 0 10px;
  width: 175px;
  word-break: break-word;
  text-transform: capitalize;
}

.btnLGBorderSignUP.activeOrange {
  border: 2px solid #e57128;
  color: #e57128;
  border-radius: 10px;
  margin-top: 40px;
  height: 50px;
}
.btnLGBorderSignUP.activeYellow {
  border: 2px solid #f9c802;
  color: #f9c802;
  border-radius: 10px;
  height: 50px;
}
.Error-MSG {
  color: red;
  font-weight: 700;
  font-size: 16px;
}

.EduAndExpBox {
  border: 1px solid #000;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  min-height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  height: calc(100% - 5px);
}

.EduAndExpBox.mainSkill {
  border: 2px solid #f9c802;
}

.EduAndExpContent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin: 0;
}

.target-boxes div {
  display: inline-block;
}

.targetBoxPref {
  border-radius: 40px;
  border: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 30px !important;
  margin: 0px 15px 15px 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.targetBoxPref.selected {
  color: #e66c0d !important;
  border: 2px solid #e66c0d !important;
}

.targetBoxPref.selected label {
  color: #e66c0d !important;
}

.targetBoxPref label {
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.checkbox-label-pref {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  height: 40px;
  padding: 0 15px !important;
  margin: 0px 5px 5px 0;
}
.box-select-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  height: 40px;
  padding: 0 5px !important;
  margin: 0px 5px 5px 0;
  border-radius: 10px;
  justify-content: space-between;
}
.infoBTN {
  margin-left: 10px;
}

.fileSpan {
  font-weight: 700;
  color: #469763;
  word-break: break-all;
}
.skillSelectorDesign4AgencyLoginCol .react-tags {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 100% !important;
  min-height: 40px;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 21px;
  color: #000;
  margin-bottom: 0;
}
.skillSelectorDesign4AgencyLoginCol .react-tags__search-input {
  width: 100% !important;
  min-height: 40px;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 21px;
  color: #000;
}
.skillSelectorDesign4AgencyLoginCol .react-tags__search-input,
.skillSelectorDesign4AgencyLoginCol .react-tags__search {
  margin: 0 !important;
}
.categoriesColoredBox {
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  min-height: 30px;
  display: inline-block;
  padding: 7px 10px;
  width: fit-content;
  margin-right: 5px;
  margin-bottom: 5px;
}
/*Client Signup*/
.clientSignUpContainerWithBG {
  background-image: url(../images/clientSignupBG.jpg);
  min-width: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.clientWhiteCardBTN {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.05));
  min-height: 550px;
  margin-bottom: 25px;
}
.clientWhiteCardBTN h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: #1fa3ff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.clientWhiteCardBTN h4 {
  font-weight: 600;
  font-size: 33px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.clientWhiteCardBTN h4 strong {
  font-weight: 700;
}
.clientWhiteCardBTN p {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.client-signup-blue {
  height: 50px;
  background: #1fa3ff;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.client-signup-yellow {
  height: 50px;
  background: #f9c802;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.clientBlackSideText {
  font-weight: 500;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #000000;
}
.client-signup-bg-side {
  background-image: url(../images/sideCoverBG.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.padding0On992 {
  padding: 0;
}
.targetBoxPref.selected.client-blue {
  color: #1fa3ff !important;
  border: 2px solid #1fa3ff !important;
}
.targetBoxPref.selected.client-yellow {
  color: #f9c802 !important;
  border: 2px solid #f9c802 !important;
}
.mb-0 {
  margin-bottom: 0;
}
.clinetBGSign {
  background-image: url(../images/clientSignupBG.jpg);
  background-size: cover;
  min-height: 100vh;
}
.client_whiteBox {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.05));
  padding: 30px 0;
}
.headerRow {
  margin-bottom: 35px;
}
.nextButtonDiv {
  margin-top: 10px;
  float: right;
}
.backButtonDiv {
  margin-top: 10px;
}
.backButtonDiv button {
  margin: 0px;
}
.nextButtonDiv .client-signup-blue {
  min-width: 220px;
  display: block;
}
.centeringClientSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px 100px;
}
.css-g1d714-ValueContainer {
  padding: 0 !important;
}
.formBlueeAddBTN {
  height: 40px;
  filter: drop-shadow(2px 2px 60px rgba(0, 0, 0, 0.05));
  min-width: 100px;
  width: fit-content;
  background: #1fa3ff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: block;
  text-align: center;
  text-transform: capitalize;
  border: none;
  color: #ffffff;
}
.formBlueeAddBTN:disabled {
  -webkit-animation: none;
  animation: none;
}
.formBlueeAddBTN:hover {
  -webkit-animation: none;
  animation: none;
}

.SKILLbox-previewBox {
  height: 100%;
}
.formHRHeight {
  margin: 0 0 15px 0;
}
.target-boxes {
  margin-bottom: 20px;
}
.hoverOnMe {
  position: relative;
}
.showInfo {
  display: none;
}
.hoverOnMe:hover .showInfo {
  display: flex;
  position: absolute;
  background-color: white;
  padding: 10px;
  width: -moz-fit-content;
  min-width: 120px;
  width: fit-content;
  max-width: 450px;
  justify-content: center;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
  align-items: center;
  z-index: 5;
  border-radius: 10px;
}
.add-agency-submit {
  width: 160px;
  height: 50px;
  background: #b4b4b4;
  border-radius: 80px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: capitalize;
  border: none;
  color: #ffffff;
  margin-top: 35px;
}
.loading-img {
  width: 25px;
  height: 25px;
}
.bg-pending {
  background-color: #4ea0f7 !important;
  opacity: 1;
}
.bg-warning {
  background-color: #e57128 !important;
  opacity: 1;
}
span.bg-success2 {
  background-color: #f3cc4b !important;
  opacity: 1;
}
.bg-success {
  background-color: #f3cc4b !important;
  background: #f3cc4b !important;
  opacity: 1;
}
.bg-danger {
  background-color: #d6492c !important;
  opacity: 1;
}
.agency-yellow-review-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.btns-container-foragencysubmitcontract {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flexonlg-blockonsm {
  display: flex;
}
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}
.font20700 {
  color: var(--primary-black, #181818);
  text-align: center;
  font-size: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font14400 {
  color: var(--primary-black, #181818);
  font-size: 14px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.divBorderInput {
  border-radius: 5px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.linkSpan {
  width: 390px;
  overflow: hidden;
  color: var(--primary-black, #181818);
font-size: 12px;
font-family: Raleway;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.customCopy32 {
  width: 67px !important;
  margin: 0;
  border-radius: 0px 5px 5px 0px !important;
}
@media (max-width: 575px) {
  .linkSpan {
    width: 200px !important;
  }
  .backButtonDiv,
  .nextButtonDiv {
    margin-top: 0;
  }
  .headerRow {
    margin: 0;
  }
  .centeringClientSignup {
    padding: 0;
  }
  .clinetBGSign {
    padding: 00px;
  }
  .client_whiteBox {
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .client-signup-bg-side {
    min-height: fit-content;
    padding: 30px 0;
    margin-top: 30px;
  }

  .ProgressBar-step span {
    display: none;
  }
  .flexONLarge {
    display: block;
  }
  .flexONLarge button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .btnSM {
    height: fit-content;
    padding: 10px;
    width: 130px;
  }
  .agency-section-header h4 {
    font-size: 20px;
    line-height: 20px;
  }
  .welcome-title-dash {
    font-size: 30px;
    line-height: 34px;
  }
  .checkoutBlueBtn {
    float: unset;
  }
  .checkoutGreySubTitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .flexonlg-blockonsm {
    display: block;
  }
  .btns-container-foragencysubmitcontract {
    display: block;
    float: right;
  }
  .agency-yellow-review-btn {
    width: 100% !important;
    margin-top: 10px;
    margin-right: 0 !important;
  }
  .EduAndExpContent {
    font-size: 17px !important;
    line-height: 18px !important;
    text-indent: 0px !important;
    margin-bottom: 10px !important;
  }
  .EduAndExpBox {
    display: block !important;
  }
  .nextButtonDiv {
    float: unset;
  }
  .nextButtonDiv .client-signup-blue,
  .nextButtonDiv .client-signup-yellow {
    width: 100%;
  }
  .ProgressBar-icon {
    width: 5px;
    height: 5px;
  }
  .clientBlackSideText {
    font-size: 20px;
    line-height: 25px;
  }
  .ProgressBar-step:before,
  .ProgressBar-step:after {
    height: 5px;
    top: 57%;
  }
  .SemiTableCell h5 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .SemiTableCell p {
    font-size: 14px;
    line-height: 12px;
  }
  .SemiTableCell .greenPrice {
    font-size: 16px;
    line-height: 18px;
  }
  .checkouSemiTableGreyHeader h6 {
    font-size: 18px;
    line-height: 20px;
  }
  .checkoutGreySubTitle {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .checkoutModalTitle {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .checkouSemiTableblackContent {
    margin: 10px 0;
  }
  .ag-user-signup-field.w-70 {
    width: 100% !important;
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .btnLGBorderSignUP.activeOrange,
  .btnLGBorderSignUP.activeYellow {
    margin-bottom: 20px;
    width: 100%;
  }
  .centerLogoOn992 {
    text-align: center;
  }
  .clinetBGSign {
    padding: 30px;
  }
  .clientBlackSideText {
    font-size: 30px;
    line-height: 35px;
  }
  .padding0On992 {
    padding: unset;
  }
  .ag-user-add {
    margin: 0 !important;
  }
  .ag-user-signup-tf-logo {
    padding: 30px 20px;
  }
  .hideOnSMallee {
    display: none;
  }
  .ag-user-signup-first-form-box {
    padding: 0 20px;
    display: block;
    min-height: 100%;
  }
  .m-lg-0 {
    margin-bottom: 20;
  }
  .PricingGreenBox {
    min-height: fit-content !important;
  }
}
@media (max-width: 1200px) {
  .centeringClientSignup {
    padding: 0 30px;
  }
  .client_whiteBox {
    padding: 20px;
  }
  .PricingGreenBox {
    min-height: 520px;
  }
  .container-fluid.clientSection {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100% !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  .show_on_safari {
    display: block;
  }
  .hide_on_safari {
    display: none;
  }
}
@-moz-document url-prefix() {
  .show_on_safari {
    display: block;
  }
  .hide_on_safari {
    display: none;
  }
}
